
 
  .multi-button button {
    background-color: #EBF0F6;
    border: none;
    margin: 0;
    padding: 1em 2em;
    outline: none;
  }
  .multi-button button:hover {
    cursor: pointer;
    background-color: #c8defc;
  }
  
  .btn {
    display: block;
    background-color: #75cbfd87 !important;
  }